.typewriter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.status-bar {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    font-family: monospace;
    opacity: 0.5;
}